.container{
    display:grid;

    grid-template-columns: 140px 100px auto 200px 150px;
    grid-template-rows:30% auto;
    grid-column-gap:5px;
    grid-row-gap:5px;
}
div{
     border:solid black 2px;
}
.box1{
    grid-column: 1/span 3;

}